In [ ]:
# !pip freeze > requirements.txt

**VIDEO 1, 2, 3: INTRODUCCION, INSTALACION DE LIBRERIAS Y EJEMPLO BASICO CON PANDAS**

In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
numeros = [1, 2, 3, 4, 5]
serie = pd.Series(numeros)
serie, type(serie)

In [ ]:
data = {
    "Nombre": [
        "Juan", "Ana", "Pedro", "Luisa", "Carlos", "María", "Javier", "Laura", "David", "Sara",
        "Andrés", "Elena", "Miguel", "Clara", "Rafael", "Sofía", "Hugo", "Paula", "Daniel", "Irene"
    ],
    "Apellido": [
        "Gómez", "Martínez", "López", "Ruiz", "Hernández", "Díaz", "Sánchez", "Ramírez", "Torres", "Flores",
        "Vargas", "Castillo", "Morales", "Romero", "Ortega", "Silva", "Mendoza", "Navarro", "Cortés", "Delgado"
    ],
    "Edad": [
        28, 24, 35, 32, 30, 29, 31, 25, 27, 26,
        22, 34, 33, 21, 36, 23, 38, 20, 37, 19
    ],
    "Ciudad": [
        "Madrid", "Barcelona", "Valencia", "Sevilla", "Bilbao", "Zaragoza", "Málaga", "Murcia", "Palma", "Valladolid",
        "Gijón", "Alicante", "Córdoba", "Vigo", "Donostia", "Granada", "Oviedo", "Tarragona", "A Coruña", "Santander"
    ]
}

In [ ]:
df = pd.DataFrame(data)
df.head(5)

**VIDEO 4: CREACION E IMPORTACION DE UN DATAFRAME**

In [ ]:
#EXPORTANDO A CSV
df.to_csv("data.csv", index=False)

In [ ]:
#IMPORTANDO CSV
df_importado = pd.read_csv("data.csv")
# df_importado

**VIDEO 5: FILTRADO Y SELECCION DE DATOS**

In [ ]:
nombres = df["Nombre"]
# nombres, type(nombres)

In [ ]:
x_cols = ["Nombre", "Edad"]
y_cols = ["Ciudad"]
df_x = df[x_cols]
df_y = df[y_cols]
# df_x
# Filtrando datos

In [ ]:
fila = df.loc[0]
fila, type(fila)

In [ ]:
fila_condicional = df[df["Edad"] > 30]
fila_condicional, type(fila_condicional)

In [ ]:
filtro = (df["Edad"] > 30) & (df["Ciudad"].str.startswith("S"))
df[filtro], type(df[filtro])

In [ ]:
filtro = (df["Edad"] > 30) & (df["Ciudad"].str.startswith("S"))
resultado = df[filtro]
resultado, type(resultado)

In [ ]:
# Modificando datos
df[df["Nombre"].isin(["Juan", "Ana"])]

In [ ]:
def longitud_nombre(nombre, tam):
    return len(nombre) == tam

df[df["Nombre"].apply(longitud_nombre, tam=3)]

In [ ]:
#filtrar edades entre 20 y 30
filtro = (df["Edad"] >= 20) & (df["Edad"] <= 30)
resultado = df[filtro]
resultado, type(resultado)

In [ ]:
# filtrar edades entre 20 y 30 usando el método between
filtro = df["Edad"].between(20, 30)
resultado = df[filtro]
resultado, type(resultado)

**VIDEO 6: LIMPIEZA, MANIPULACION Y GENERACION DE DATOS EN UN DATAFRAME**

In [ ]:
data_to_clean = {
    "Nombre": [
        "Juan", None, "Pedro", None, "Carlos", "María", None, "Laura", "David", "Sara",
        "Andrés", "Elena", "Miguel", None, "Rafael", "Sofía", "Hugo", "Paula", "Daniel", "Irene"
    ],
    "Apellido": [
        "Gómez", "Martínez", "López", "Ruiz", "Hernández", "Díaz", "Sánchez", None, "Torres", "Flores",
        "Vargas", "Castillo", None, "Romero", "Ortega", "Silva", "Mendoza", "Navarro", "Cortés", "Delgado"
    ],
    "Edad": [
        28, 24, 35, np.nan, 30, 29, 31, 25, np.nan, 26,
        22, 34, np.nan, 21, 36, 23, np.nan, 20, 37, np.nan
    ],
    "Ciudad": [
        "Madrid", "Barcelona", "Valencia", None, "Bilbao", "Zaragoza", "Málaga", "Murcia", "Palma", "Valladolid",
        None, "Alicante", "Córdoba", "Vigo", "Donostia", "Granada", "Oviedo", None, "A Coruña", "Santander"
    ]
}

df_to_clean = pd.DataFrame(data_to_clean)
df_to_clean.head(5), type(df_to_clean)

In [ ]:
# Rellenar valores nulos con un valor específico
df_filled = df_to_clean.fillna(
    {
        "Nombre": "Desconocido",
        "Apellido": "Desconocido",
        "Edad": df_to_clean["Edad"].median(),
        "Ciudad": "Desconocida"
    }
)

df_filled.head(5)

In [ ]:
#usar el metodo dropna() para eliminar filas con valores nulos
df_dropped = df_to_clean.dropna()
df_dropped.head(5)

In [ ]:
#reemplazar valores especificos de alguna columna
df_replaced = df_to_clean.replace({
    "Ciudad" : {None: "No definida"}
})
df_replaced.head(5)

In [ ]:
#interpolar valores nulos
df_interpolated = df_to_clean.copy()
df_interpolated["Edad"] = df_interpolated["Edad"].interpolate()
df_interpolated.head(5)

In [ ]:
#valores duplicados
data = {
    "Nombre": [
        "Juan", "Ana", "Pedro", "Juan", "Carlos", "María", "Pedro", "Laura", "David", "Sara",
        "Andrés", "Elena", "Miguel", "Ana", "Rafael", "Sofía", "Hugo", "Paula", "Daniel", "Irene"
    ],
    "Apellido": [
        "Gómez", "Martínez", "López", "Gómez", "Hernández", "Díaz", "López", "Ramírez", "Torres", "Flores",
        "Vargas", "Castillo", "Morales", "Martínez", "Ortega", "Silva", "Mendoza", "Navarro", "Cortés", "Delgado"
    ],
    "Edad": [
        28, 24, 35, 28, 30, 29, 35, 25, 27, 26,
        22, 34, 33, 24, 36, 23, 38, 20, 37, 19
    ],
    "Ciudad": [
        "Madrid", "Barcelona", "Valencia", "Madrid", "Bilbao", "Zaragoza", "Valencia", "Murcia", "Palma", "Valladolid",
        "Gijón", "Alicante", "Córdoba", "Barcelona", "Donostia", "Granada", "Oviedo", "Tarragona", "A Coruña", "Santander"
    ]
}
df_duplicates = pd.DataFrame(data)
df_duplicates.head(5), type(df_duplicates)

In [ ]:
#borra duplicados
df_duplicates_dropped = df_duplicates.drop_duplicates()
df_duplicates_dropped.head(5)

In [ ]:
# renombrar columnas
df_renamed = df_duplicates.rename(
    columns={"Nombre": "Name", "Apellido": "Surname", "Edad": "Age", "Ciudad": "City"}
)
df_renamed.head(5)

In [ ]:
#ordenar columnas
df_sorted = df_duplicates.sort_values(by=["Edad", "Nombre"], ascending=[True, False])
df_sorted.head(5)

In [ ]:
#OTRA FORMA DE ORDENAR
sorted_columns = [ "Apellido", "Nombre", "Edad", "Ciudad"]
df_sorted_columns = df_duplicates[sorted_columns]
# df_sorted_columns = df_sorted_columns.sort_values(by=["Edad", "Nombre"], ascending=[True, False])
df_sorted_columns.head(5)

In [ ]:
#transformacion de datos
def potencia_cuadrado(x):
    return x ** 2

df["Edad_al_cuadrado"] = df["Edad"].apply(potencia_cuadrado)
# df["Edad_al_cuadrado"] = df["Edad"].apply(lambda x: x ** 2)
df.head(5)

**VIDEO 7: AÑADIR Y AGRUPAR DATOS CON PANDAS**

In [ ]:
data_payment = {
    "Nombre": [
        "Juan", "Ana", "Pedro", "Luisa", "Carlos", "María", "Javier", "Laura", "David", "Sara",
        "Andrés", "Elena", "Miguel", "Clara", "Rafael", "Sofía", "Hugo", "Paula", "Daniel", "Irene"
    ],
    "Apellido": [
        "Gómez", "Martínez", "López", "Ruiz", "Hernández", "Díaz", "Sánchez", "Ramírez", "Torres", "Flores",
        "Vargas", "Castillo", "Morales", "Romero", "Ortega", "Silva", "Mendoza", "Navarro", "Cortés", "Delgado"
    ],
    "Edad": [
        28, 24, 35, 32, 30, 29, 31, 25, 27, 26,
        22, 34, 33, 21, 36, 23, 38, 20, 37, 19
    ],
    "Ciudad": [
        "Madrid", "Barcelona", "Valencia", "Sevilla", "Bilbao", "Zaragoza", "Málaga", "Murcia", "Palma", "Valladolid",
        "Gijón", "Alicante", "Córdoba", "Vigo", "Donostia", "Granada", "Oviedo", "Tarragona", "A Coruña", "Santander"
    ],
    "Salario": [
        30000, 32000, 35000, 28000, 40000, 31000, 33000, 29000, 37000, 36000,
        34000, 38000, 39000, 27000, 41000, 42000, 43000, 44000, 45000, 46000
    ],
    "Horas_trabajadas": [
        40, 38, 42, 36, 45, 39, 41, 37, 44, 43,
        35, 46, 47, 34, 48, 49, 50, 33, 51, 32
    ],
}
df_payment = pd.DataFrame(data_payment)
df_payment.head(5)

In [ ]:
#agrupar datos por ciudad
group = df_payment.groupby("Ciudad")
group.groups

In [ ]:
df_payment_grouped_by_edad = df_payment.groupby("Edad")[["Salario", "Horas_trabajadas"]].agg(["mean", "sum", "count"])
df_payment_grouped_by_edad.head(5)

In [ ]:
df_payment_grouped_by_nombre_apellido = df_payment.groupby(["Nombre", "Apellido"])["Horas_trabajadas"].sum()
df_payment_grouped_by_nombre_apellido.head(5)

In [ ]:
df_payment_grouped_by_ciudad_salario = df_payment.groupby("Ciudad")["Salario"].mean()
df_payment_grouped_by_ciudad_salario.head(5)

**VIDEO 8: AGREGACION DE DATOS**

In [ ]:
group = df_payment.groupby("Nombre")

aggregated_data = group.agg({
    "Horas_trabajadas": "sum",
    "Salario": "sum"
})

aggregated_data.head(5)

#o tambien
# aggregated_data = df_payment.groupby("Nombre")[["Horas_trabajadas", "Salario"]].sum()
# aggregated_data.head(5)

In [ ]:
#definir una funcion de agracion personalizada
def custom_aggregation(x):
    # return x.max() - x.min()
    # return x.mean() - x.std()
    # return x.mean() + x.std()
    return x.max() + x.min()

#aplicar la funcion de agregacion personalizada
grouped_custom = group.agg({
    "Horas_trabajadas": custom_aggregation,
    "Salario": custom_aggregation
})

grouped_custom.head(5)

**VIDEO 9: AGREGACION Y AGRUPACION MULTINIVEL**

In [ ]:
data_payment["Price_category"] = pd.cut(
    data_payment["Salario"],
    bins=[0, 30000, 40000, np.inf],
    labels=["Bajo", "Medio", "Alto"]
)
df_cat = pd.DataFrame(data_payment)
df_cat = df_cat.dropna(subset=["Price_category"])
df_cat.head(5)

In [ ]:
#agrupar datos por salario y horas trabajadas
multi_group = df_cat.groupby(["Price_category", "Horas_trabajadas"], observed=True)
multi_group.groups

In [ ]:
#calcular la media de edad, salario y horas trabajadas por categoria y edad
agg_data_multi = multi_group.agg({
    "Edad": "mean",
    "Salario": "mean",
    "Horas_trabajadas": "mean"
})

agg_data_multi.head(5)

**VIDEO 10: AÑADIR NUEVOS DATOS A UN DATAFRAME CON PANDAS**

In [ ]:
#AGREGAR UNA NUEVA COLUMNA
df_payment["Salario_anual"] = df_payment["Salario"] * 12
df_payment.head(5)

In [ ]:
#AÑADIR UNA NUEVA FILA
new_row = pd.Series({
    "Nombre": "Mario",
    "Apellido": "Hernández",
    "Edad": 30,
    "Ciudad": "Valencia",
    "Salario": 50000,
    "Horas_trabajadas": 43
})

df_payment = pd.concat([df_payment, new_row.to_frame().T], ignore_index=True)
df_payment["Salario_anual"] = df_payment["Salario"] * 12
df_payment

**VIDEO 11: COMBINACION DE DATAFRAMES**

In [ ]:
data_departure = {
    "Nombre": [
        "Juan", "Ana", "Pedro", "Luisa", "Carlos",
        "María", "Javier", "Laura", "David", "Sara"
    ],
    "Departamento": [
        "Ventas", "Recursos Humanos", "Marketing", "Finanzas", "IT",
        "Contabilidad", "Operaciones", "Legal", "Logística", "Compras"
    ],
    "Turno": [
        "Mañana", "Tarde", "Mañana", "Noche", "Mañana",
        "Tarde", "Noche", "Mañana", "Tarde", "Noche"
    ]
}
df_departure = pd.DataFrame(data_departure)
df_departure.head(5)

In [ ]:
data_employees = {
    "Nombre": ["Tomás", "Eva", "Noelia", "Mariano", "Lucía"],
    "Apellido": ["Pérez", "Alonso", "Fuentes", "Ibáñez", "Santos"],
    "Edad": [27, 29, 26, 28, 30],
    "Ciudad": ["Madrid", "Granada", "Murcia", "Barcelona", "Sevilla"],
    "Salario": [34000, 37000, 36000, 35000, 39000],
    "Horas_trabajadas": [40, 42, 38, 39, 41]
}
df_nuevos_empleados = pd.DataFrame(data_employees)
df_nuevos_empleados["Salario_anual"] = df_nuevos_empleados["Salario"] * 12
df_nuevos_empleados.head(5)

In [ ]:
#COMBINACION DE DATAFRAMES POR FILAS
data_payment_updated = pd.concat([df_payment, df_nuevos_empleados], ignore_index=True)
data_payment_updated

In [ ]:
#COMBINACION DE DATAFRAMES POR COLUMNAS
payroll = pd.concat([data_payment_updated, df_departure], axis=1)
payroll

In [ ]:
# COMBINACION DE DATAFRAMES POR FILAS CON JOIN
payroll_join = pd.merge(
    data_payment_updated,
    df_departure,
    on="Nombre",
    how="inner"
)
payroll

In [ ]:
payroll_join = pd.merge(
    data_payment_updated,
    df_departure,
    on="Nombre",
    how="outer"
)

# Verifica y elimina columnas duplicadas si es necesario
payroll_join = payroll_join.loc[:, ~payroll_join.columns.duplicated()]
payroll_join

In [ ]:
availiable_departments = df_departure['Departamento'].dropna().unique()
availiable_shifts = df_departure['Turno'].dropna().unique()

payroll_join['Departamento'] = payroll_join['Departamento'].apply(
    lambda x: np.random.choice(availiable_departments) if pd.isna(x) else x
)

payroll_join['Turno'] = payroll_join['Turno'].apply(
    lambda x: np.random.choice(availiable_shifts) if pd.isna(x) else x
)

os.makedirs("out_pandas", exist_ok=True)

payroll_join
payroll_join.to_csv("out_pandas/registro_de_pago.csv", index=False)
payroll_join.to_excel("out_pandas/registro_de_pago.xlsx", index=False)

In [5]:
# %pip install scipy
from scipy import stats

# Ejemplo: prueba t para comparar la media de dos muestras independientes
grupo1 = [20, 22, 23, 19, 21, 20, 22]
grupo2 = [30, 29, 31, 32, 28, 30, 29]

t_stat, p_value = stats.ttest_ind(grupo1, grupo2)

print("Estadístico t:", t_stat)
print("Valor p:", p_value)

Estadístico t: -12.006248373242993
Valor p: 4.8079591665892255e-08